<div id="incoming-call" class="call-popup d-none">
  <p>
    <strong id="caller-name"></strong> is calling...
  </p>

  <div class="call-actions">
    <button id="accept-call" class="btn btn-success btn-sm">Accept</button>
    <button id="reject-call" class="btn btn-danger btn-sm">Reject</button>
  </div>
</div>
